<!-- Default Form Code -->

<div class="row">
<div class="col-sm-6">[text* first-name placeholder "First Name"]</div>
<div class="col-sm-6">[text* last-name placeholder "Last Name"]</div>
</div>
<div class="row">
<div class="col-sm-6">[email* email placeholder "Email"]</div>
<div class="col-sm-6">[text* phone placeholder "Phone"]</div>
</div>
<div class="row">
<div class="col-sm-12">[textarea message placeholder "Message"]</div>
</div>
<div class="row">
<div class="col-sm-12">[submit "Send"]</div>
</div>




<!-- Default Message Code -->

<b>Name:</b> [first-name] [last-name]
<b>Email:</b> [email]
<b>Phone:</b> [phone]

<b>Message:</b>
[message]